{% extends 'base.html.twig' %}

{% block title %}
	SymRecipe - Nouveau ingrédients
{% endblock %}

{% block body %}
	<div class="container mt-4">

		<h1>Creation nouveau ingredients
		</h1>
		{# read and display just one flash message type #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}

			<div>
				{{ form_errors(form.name) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.price) }}
			{{ form_widget(form.price) }}

			<div>
				{{ form_errors(form.price) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
